name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
      - name: Build
        run: go build -o gocleanarchitecture ./cmd
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: gocleanarchitecture
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
